@import "./breakpoints.scss";

:root {
	font-family:  system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--app-bg: #242424;
	--app-bg-alt: #2b2a33;
	--app-text: rgba(255, 255, 255, 0.87);
	--app-color-button-bg: #01ff95;
	--app-color-button-text: #2b2a33;
	--app-color-button-hover-bg: #ff7c01;
	--app-color-button-hover-text: white;

	color-scheme: light dark;
	color: var(--app-text);
	background-color: var(--app-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scrollbar-width: thin;

	&[data-theme="light"] {
		--app-bg: whitesmoke;
		--app-bg-alt: white;
		--app-text: #213547;
		--app-color-button-bg: #00b368;
		--app-color-button-text: white;
		--app-color-button-hover-bg: #0074d3;
	}
}

body {
	padding-top: 0.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color, color 250ms ease;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;

	&:hover {
		color: #535bf2;
	}
}

input, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	font-family: inherit;
	color: inherit;
	border: none;
	outline: none;
	font-size: 1rem;
	background-color: transparent;
	background: none;
}
